.App {
  text-align: center;
}
x
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.navbar {
  width: 100%;
}
.card {
  padding: 10px;
}
.container {
padding: 10px;

}
.jumbotron {
  padding-bottom: 50px;
  padding: 10px;
 background-color: rgb(230, 230, 230);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
